.disk {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 500px;
    left: 205px;
    z-index: 6;
    background: url("../../Images/disk.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition:
      top 0.5s ease,
      left 0.5s ease,
      width 0.5s ease,
      height 0.5s ease;
  }


  .disk img {
    position: relative;
  }

  .pccase-disk {
    width: 100px;
    height: 140px;
    left: 405px;
    top: -614px;
  }