.fans {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 700px;
    left: 205px;
    z-index: 6;
    background: url("../../Images/fans.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition:
      top 0.5s ease,
      left 0.5s ease,
      width 0.5s ease,
      height 0.5s ease;
  }


  .fans img {
    position: relative;
  }

  .pccase-fans {
    width: 105px;
    height: 145px;
    left: 52px;
    top: -864px;
  }