.ram {
    width: 120px;
    height: 500px;
    position: absolute;
    top: 561px;
    left: 44px;
    z-index: 6;
    background: url("../../Images/ram_outside.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition:
      top 0.5s ease,
      left 0.5s ease,
      width 0.5s ease,
      height 0.5s ease;
  }


  .ram img {
    position: relative;
  }

  .pccase-ram {
    width: 39px;
    height: 140px;
    left: 300px;
    top: -316px;
  }